<h2>Report an Issue</h2>

<div class="errors">
  <% if @report.errors.any? %>
    <% @report.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</div>

<div class="form">
  <%= form_for @report do |f| %>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div>
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.submit "Submit Report" %>
    </div>

  <% end %>
</div>
